@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@media print {
  /* 1. Esconde tudo na tela */
  body * {
    visibility: hidden;
  }

  /* 2. Remove o menu lateral e botões para não ocuparem espaço invisível */
  aside, nav, button, header {
    display: none !important;
  }
  
  /* 3. Posiciona a Folha de Contrato no topo absoluto */
  #contrato-area {
    visibility: visible !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    background: white !important;
    box-shadow: none !important;
  }
  
  /* 4. Garante que tudo dentro do contrato apareça */
  #contrato-area * {
    visibility: visible !important;
  }
  
  /* 5. Configurações da página da impressora */
  @page {
    size: A4;
    margin: 0; /* Remove margens da impressora para usar as nossas */
  }
}